 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
  <link href="https://fonts.googleapis.com/css?family=Francois+One|PT+Sans+Narrow&display=swap" rel="stylesheet">


   <link rel="stylesheet" href="./css/style.css">
   <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>


  <div id="mapid">
    <div id="sidecontent">
      <h2>VISOR GEOGRAFICO DE EL DONCELLO</h2>
    </div>    
  </div>
    <script>
      var rawlimitem=  decodeURIComponent("{{{limitem}}}");
      var limitem = JSON.parse(rawlimitem); 

      var rawsedes =  decodeURIComponent("{{{sedes}}}");
      var sedes = JSON.parse(rawsedes);

      /*var rawHoteles =  decodeURIComponent("{{{hoteles}}}");
      var hoteles = JSON.parse(rawHoteles); */
    </script>

    <script src="./js/app.js"></script>
