#mapid {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
 }

.leaflet-container .leaflet-control-zoom-in, .leaflet-container .leaflet-control-zoom-out {
  background: #333;
  color: #faebd7;
  border: none;
}

#sidecontent
{
  margin:0;
  padding:15px 0 0 0;
  float:right;
  width:100%;
  height: 10%;
  position: absolute;
  text-align: center;
  left: 0px;
  background-color: #ffffff;
  opacity: 0.6;
  z-index: 999
}

.leaflet-routing-container{
  padding:10%;
}
.leaflet-routing-alt h2{
  font-size: 20px!important;
  text-align: center;
  color: #333;
}

.leaflet-top {
  padding: 80px 0px 0px 0px;
}

.leaflet-routing-alt .leaflet-routing-icon-depart{
  color: rgb(151, 212, 18)!important;
}


.leaflet-control-container {
  display: block;
  }
  .leaflet-control-zoom {
  left: 5px;
  top: 50px;
  }
  .leaflet-control-layers {
    font-family: 'Francois One', sans-serif;
    font-size: 15px;    
    
  left: 5px;
  top: 50px;

  }
  
  .leaflet-touch .leaflet-control-attribution {
  display: none;
  }

  h2{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 25px;
  }

  .leaflet-control-layers-toggle {
    background-image: url(/img/capas.png);
    width: 50px;
    height: 40px;
}
 